{% extends 'dashboard.html' %}

{% block content %}

<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Best Offers</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Best Offers</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Best Offers</h6>
        </nav>
       
    </nav>
    <!-- End Navbar -->

    <!-- <hr> -->

    <!-- Table to display existing products -->
    

   
    <div class="container">

        <div class="row">
        
            <div class="col-md-12">
    
                <div class="card">
    
                    <div class="row">
                        <div class="col-md-10" style="padding:16px;">
                            <h4 style="margin-left:10px"> Best Offers </h4> 
                        </div>
                        <!-- <a href="{{ url_for('admin.add_get_bestoffers_items') }}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Add More Products</a> -->
                        <div>
                          <a href="{{ url_for('admin.add_get_bestoffers_items') }}" class="btn btn-success btn-lg"><i class="text-muted material-icons md-post_add"></i> + Add More Products</a>
                        </div>
    
                    </div>
    
                    <div class="card-body" id="products-table">
                        {% if items_bestOffer | length < 1 %}
                        <h3 style="color: white;">No Shop Items </h3>

                        {% else %}
                        <div class="table-responsive">
                        <table class="table table-bordered table-striped">
    
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Product Picture</th>
                                <th scope="col">Zoom Picture</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Single Piece Price</th>
                                <th scope="col">Brand Name</th>
                                <th scope="col">No. of Products</th>
                                <th scope="col">Set Price</th>
                                <th scope="col">Product Code</th>
                                <th scope="col">Product Tag</th>
                                <th scope="col">No.of Sizes S</th>
                                <th scope="col">No.of Sizes M</th>
                                <th scope="col">No.of Sizes L</th>
                                <th scope="col">No.of Sizes XL</th>
                                <th scope="col">No.of Sizes XXL</th>
                                <th scope="col">Certain Qty</th>
                                <th scope="col">Discount</th>
                                <th scope="col">About Product</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
    
                            <tbody>
                                {% for item in items_bestOffer %}
                                <tr>
                                  <th scope="row">{{ item.id }}</th>
                                  <td><img src="{{ item.product_picture }}" alt="" style="height: 50px; width: 50px; border-radius: 2px;"></td>
                                  <td><img src="{{ item.product_picture_zoom }}" alt="" style="height: 50px; width: 50px; border-radius: 2px;"></td>
                                  <td>{{ item.product_name }}</td>
                                  
                                  <td>{{ item.single_product_price }}</td>
                                  <td>{{ item.brand_name }}</td>
                                  <td>{{ item.no_of_products }}</td>
                                  <td>{{ item.no_of_products_price }}</td>
                                  <td>{{ item.product_code }}</td>
                                  <td>{{ item.product_tag }}</td>
                                  <td>{{ item.product_sizes_no_for_s }}</td>
                                  <td>{{ item.product_sizes_no_for_m }}</td>
                                  <td>{{ item.product_sizes_no_for_l }}</td>
                                  <td>{{ item.product_sizes_no_for_xl }}</td>
                                  <td>{{ item.product_sizes_no_for_xxl }}</td>
                                  <td>{{ item.certian_number_products }}</td>
                                  <td>{{ item.certian_number_products_discount }}</td>
                                  <td>
                                      <div class="about-product">
                                          {{ item.about_product }}
                                      </div>
                                  </td>
                                  
                                  <td>
                                      <a href="{{ url_for('admin.update_item', item_id=item.id) }}">Update</a>
                                      <br>
                                      <a href="{{ url_for('admin.delete_product_item', item_id=item.id) }}">Delete</a>
                                  </td>
                              </tr>

                                {% endfor %}
                            </tbody>
    
                        </table>
                        </div>
                        {% endif %}
    
                    </div>
                </div>
    
            </div>
           
        </div>
        

        

  
  <!--   Core JS Files   -->
  <script src="./static/js/core/popper.min.js"></script>
  <script src="./static/js/core/bootstrap.min.js"></script>
  <script src="./static/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="./static/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="./static/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx1 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
    gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
    new Chart(ctx1, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#5e72e4",
          backgroundColor: gradientStroke1,
          borderWidth: 3,
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#fbfbfb',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#ccc',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./static/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>





{% endblock %}