<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Arun Textiles</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="For all your textile needs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Textile manufacturing, Fabric production, Apparel industry,Fashion keywords, Clothing production, Textile processing,Yarn production, Thread production, Fabric finishing, Textile finishing, Dyeing and printing, Weaving and knitting, Apparel design, Fashion design, Textile technology, Textile engineering, Tirupur textiles, Arun textiles, Textiles industry tamilnadu">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    

    <style>
        .header-nav ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .header-nav ul li {
            display: inline-block;
            padding: 10px 15px;
        }
        .header-nav ul li a {
            color: #000;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
        }
        .header-action-right {
            display: flex;
            align-items: center;
        }
        .header-action-icon-2 {
            margin-left: 15px;
        }
        .dropdown-menu {
            padding: 0;
            border-radius: 0;
        }
        .dropdown-menu .dropdown-item {
            padding: 10px 20px;
        }
        .dropdown-toggle::after {
            display: none;
        }
        .burger-icon {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
        }
        .burger-icon span {
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            margin: 4px 0;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            height: 66px;
            max-height: 70px;
            width: auto;
            max-width: 250px;
        }
        .header-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header-nav,
        .header-action-right {
            display: flex;
            align-items: center;
        }
        .header-info a {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <header class="header-area header-style-4 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block" style="background-color:#2f515a;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li style="color:white;"><i class="fi-rs-marker"></i><a href="https://maps.app.goo.gl/mAfWA1dnAhPTsMmQ9" style="color:white;">Our Location : Khaderpet, Tirupur</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block" style="color:white;font-size:12px;">
                                <ul>
                                    <li>Get great Products up to 60% off</li>
                                    <li>Super Value Deals - Save more with coupons</li>
                                    <li>Use Promo Code ATX2024 for 10% OFF</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <a href="https://www.facebook.com/aruntextiless" target="_blank" style="margin-right: 30px;">
                                <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
                            </a>
                            <a href="https://instagram.com/aruntextiless" target="_blank" style="margin-right: 30px;">
                                <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=918189922949" target="_blank" style="margin-right: 30px;">
                                <i class="fa-brands fa-whatsapp fa-2xl" style="color: #ffffff;"></i>
                            </a>
                            <a href="https://www.facebook.com/aruntextiless" target="_blank" style="margin-right: 30px;">
                                <i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff;"></i>
                            </a>
                                <i class="fi-rs-user"></i><a href="{{ url_for('auth.logout') }}" style="color: #ffffff;">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="{{ url_for('views.index') }}"><img src="../static/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="{{ url_for('views.index') }}">Home</a></li>
                                    <li><a href="{{ url_for('views.about') }}">About</a></li>
                                    <li><a href="{{ url_for('views.productPageList') }}">Products</a></li>
                                    <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>For Enquiry</span>(+91)-8189922949</p>
                    </div>

                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{{ url_for('auth.cart') }}">
                                    <img alt="Evara" src="../static/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">{{ cart_count }}</span>
                                </a>
                            </div>

                            <div class="header-action-icon-2">
                              {% if customer %}
                                  <span>Welcome, {{ customer.username }}</span>
                              {% endif %}
                          </div>
                            
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    


    <main class="main-content position-relative border-radius-lg">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="page-login-register.html"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello Rosie! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>#1357</td>
                                                                <td>March 45, 2020</td>
                                                                <td>Processing</td>
                                                                <td>$125.00 for 2 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2468</td>
                                                                <td>June 29, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$364.00 for 5 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2366</td>
                                                                <td>August 02, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$280.00 for 3 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        
                                        <section class="content-main">
                                            <div class="content-header">
                                                <div>
                                                    <h2 class="content-title card-title">Order Tracking</h2>
                                                    <p>Details for Order ID: 3453012</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <header class="card-header">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                                            <span>
                                                                <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2022, 4:34PM</b>
                                                            </span> <br>
                                                            <small class="text-muted">Order ID: 3453012</small> <br>
                                                            <small class="text-muted">Your order has been delivered</small>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                                            <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200 mr-15">
                                                                <option>Change status</option>
                                                                <option>Awaiting payment</option>
                                                                <option>Confirmed</option>
                                                                <option>Shipped</option>
                                                                <option>Delivered</option>
                                                            </select>
                                                            <a class="btn btn-primary" href="#">Screenshot</a>
                                                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print mr-5"></i>Print</a>
                                                        </div>
                                                    </div>
                                                </header> <!-- card-header end// -->
                                                <div class="card-body">
                                                    <div class="order-tracking mb-100">
                                                        <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
                                                            <div class="step completed">
                                                                <div class="step-icon-wrap">
                                                                    <div class="step-icon"><i class="material-icons md-shopping_cart"></i></div>
                                                                </div>
                                                                <h4 class="step-title">Confirmed Order</h4>
                                                                <small class="text-muted text-sm">15 March 2022</small>
                                                            </div>
                                                            <div class="step completed">
                                                                <div class="step-icon-wrap">
                                                                    <div class="step-icon"><i class="material-icons md-settings"></i></div>
                                                                </div>
                                                                <h4 class="step-title">Processing Order</h4>
                                                                <small class="text-muted text-sm">16 March 2022</small>
                                                            </div>
                                                            <div class="step completed">
                                                                <div class="step-icon-wrap">
                                                                    <div class="step-icon"><i class="material-icons md-shopping_bag"></i></div>
                                                                </div>
                                                                <h4 class="step-title">Quality Check</h4>
                                                                <small class="text-muted text-sm">17 March 2022</small>
                                                            </div>
                                                            <div class="step">
                                                                <div class="step-icon-wrap">
                                                                    <div class="step-icon"><i class="material-icons md-local_shipping"></i></div>
                                                                </div>
                                                                <h4 class="step-title">Product Dispatched</h4>
                                                                <small class="text-muted text-sm">18 March 2022</small>
                                                            </div>
                                                            <div class="step">
                                                                <div class="step-icon-wrap">
                                                                    <div class="step-icon"><i class="material-icons md-check_circle"></i></div>
                                                                </div>
                                                                <h4 class="step-title">Product Delivered</h4>
                                                                <small class="text-muted text-sm">20 March 2022</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-50 mt-20 order-info-wrap text-center">
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">                              
                                                                <div class="text">
                                                                    <h6 class="mb-1">Customer</h6>
                                                                    <p class="mb-1">
                                                                        John Alexander <br> alex@example.com <br> +998 99 22123456
                                                                    </p>
                                                                    <a href="#">View profile</a>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">                              
                                                                <div class="text">
                                                                    <h6 class="mb-1">Order info</h6>
                                                                    <p class="mb-1">
                                                                        Shipping: Fargo express <br> Pay method: card <br> Status: new
                                                                    </p>
                                                                    <a href="#">Download info</a>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">                              
                                                                <div class="text">
                                                                    <h6 class="mb-1">Deliver to</h6>
                                                                    <p class="mb-1">
                                                                        City: Tashkent, Uzbekistan <br>Block A, House 123, Floor 2 <br> Po Box 10000
                                                                    </p>
                                                                    <a href="#">View profile</a>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                    </div> <!-- row // -->
                                                   <div class="row">
                                                        <div class="text-center mt-100 mb-50">
                                                            <a class="btn btn-primary" href="page-orders-detail.html">View Order Details</a>
                                                        </div>
                                                   </div>
                                            </div> <!-- card end// -->
                                        </section> <!-- content-main end// -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste. <br>Marie, MI 49783</address>
                                                        <p>New York</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>4299 Express Lane<br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                        <p>Sarasota</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>Already have an account? <a href="page-login-register.html">Log in instead!</a></p>
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="phone">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="dname" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="email" type="email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="password" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="npassword" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="cpassword" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

   

  
  <!--   Core JS Files   -->

  <script>

    var ctx1 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
    gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
    new Chart(ctx1, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#5e72e4",
          backgroundColor: gradientStroke1,
          borderWidth: 3,
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#fbfbfb',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#ccc',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
<script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
<script src="../static/js/vendor/bootstrap.bundle.min.js"></script>
<script src="../static/js/plugins/select2.min.js"></script>
<script src="../static/js/plugins/perfect-scrollbar.js"></script>
<script src="../static/js/core/popper.min.js"></script>
<script src="../static/js/core/bootstrap.min.js"></script>
<script src="../static/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../static/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../static/js/plugins/chartjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Main Script -->
<script src="../static/js/main.js" type="text/javascript"></script>


    {% include 'footer.html' %}


</html>



    
  